/*layout*/

.form-horizontal {
	padding: 10px 25%;
} 

/*body*/

body {
	font-family:'Lato', sans-serif;

}

/*form*/

.wrapper {
	border: solid 2px #496BB2;
	margin: 2em auto 0;
	padding: 16px 20%;
  	/*background-color: #0269E8;*/

}
.wrapper,
.gradient {
  background-image:
    linear-gradient(
      to top right, 
      #4985BF, 
      #496BB2,
      #5678BE
    );
}
legend {
	text-align: center;
	color: 	#808080;
	font-weight: 400;
	font-size: 2em;
	letter-spacing: 0.05em;
	border-bottom: none;
}
label {
	color: #B0B0B0;
	font-size: 1em;
	letter-spacing: 0.05em;
	margin-top: 0;
}
.form-control {
	color: #FFFFFF;
}
#select {
	margin-top: 1.5em;
}

/*btn*/
.btn-group-justified {
	margin-left: 1.5em;
}




/*input*/

/*button- revisar para que queden al medio*/

/*.btn button {
	display: block;
	margin: 0 auto;
}*/

