/*layout*/

.form-horizontal {
	padding: 10px 25%;
} 

/*body*/

body {
	font-family: 'Source Sans Pro', sans-serif;
}

/*form*/

.wrapper {
	border: solid 2px #0269E8;
	margin: 2em auto 0;
	padding: 16px;
  background-color: #0269E8;
}

/*col form*/

legend {
	text-align: center;
	color: #0231FF;
	font-weight: 400;
	font-size: 2em;
	letter-spacing: 0.05em;
}
label {
	color:#0231FF;
	font-size: 1.2em;
	letter-spacing: 0.05em;
}
