/*body*/
body {
	background-color: #ECF0F1;
}
/*form*/

form,
.form-horizontal {
	/*background-color: #ECF0F1;*/
	background-color: #FFFFFF;
	/*border: solid 1px #434A54;*/
	border-radius: 0.5%;
	padding: 4px 15%;
	margin-top: 3em;
}
.form-group .control-label {
 padding-top: 3px;
}
label {
	margin-left: 4.5em;
}
select.form-control,
.btn-lg,
.btn-group-lg {
	border-radius: 1%;
}
.form-control {
	width: 60%;
	margin-left: 4.5em;

}
.form-control, 
input {
	margin-bottom: -0.5em;
}
.page-header h1 {
	text-align: center;
	font-size: 1.7em;
	margin: 0;
}

#select {
	margin-top: 1em;
}

/*btn genero*/
.btn-group-justified.btn-group .btn {
  width: 80%;
}
.btn-female,
.btn-male {
	margin: 0.5em 0 1em 0;
	border-radius: 2%;
  padding: 0.5em 3%;
}

.btn-female { 
  color: #999999; 
  background-color: #FFFFFF; 
  border-color: #DADADA; 
} 
.btn-male {
  margin-left: 2em;
}
.btn-female:hover, 
.btn-female:focus, 
.btn-female:active, 
.btn-female.active, 
.open .dropdown-toggle.btn-female { 
  color: #fff; 
  /*background-color: #F68CCB;*/
  background-color: #DA4453;
  border-color: #DADADA; 
} 
 
.btn-female:active, 
.btn-female.active, 
.open .dropdown-toggle.btn-female { 
  background-image: none; 
} 
 
.btn-female.disabled, 
.btn-female[disabled], 
fieldset[disabled] .btn-female, 
.btn-female.disabled:hover, 
.btn-female[disabled]:hover, 
fieldset[disabled] .btn-female:hover, 
.btn-female.disabled:focus, 
.btn-female[disabled]:focus, 
fieldset[disabled] .btn-female:focus, 
.btn-female.disabled:active, 
.btn-female[disabled]:active, 
fieldset[disabled] .btn-female:active, 
.btn-female.disabled.active, 
.btn-female[disabled].active, 
fieldset[disabled] .btn-female.active { 
  background-color: #FFFFFF; 
  border-color: #DADADA; 
} 
 
.btn-female .badge { 
  color: #FFFFFF; 
  background-color: #999999; 
}
.btn-male { 
  color: #999; 
  background-color: #FFFFFF; 
  border-color: #DADADA; 
} 
 
.btn-male:hover, 
.btn-male:focus, 
.btn-male:active, 
.btn-male.active, 
.open .dropdown-toggle.btn-male { 
  color: #fff;
  /*background-color: #009DDC;*/
  background-color: #4A89DC;
  border-color: #DADADA; 
} 
 
.btn-male:active, 
.btn-male.active, 
.open .dropdown-toggle.btn-male { 
  background-image: none; 
} 
 
.btn-male.disabled, 
.btn-male[disabled], 
fieldset[disabled] .btn-male, 
.btn-male.disabled:hover, 
.btn-male[disabled]:hover, 
fieldset[disabled] .btn-male:hover, 
.btn-male.disabled:focus, 
.btn-male[disabled]:focus, 
fieldset[disabled] .btn-male:focus, 
.btn-male.disabled:active, 
.btn-male[disabled]:active, 
fieldset[disabled] .btn-male:active, 
.btn-male.disabled.active, 
.btn-male[disabled].active, 
fieldset[disabled] .btn-male.active { 
  background-color: #FFFFFF; 
  border-color: #DADADA; 
} 
 
.btn-male .badge { 
  color: #FFFFFF; 
  background-color: #999; 
}
/*flags img*/
/*.flags li {
	display: inline-block;
	margin: 0 1em;
}
.flags  span {
	background: url("../images/flags.png");
	width: 16px;
	height: 16px;
	display: block;
}
.flags p,
span {
	display: none;
}
p.argentina {
background-position: 0px 0px;
}
p.brasil {
background-position: 0px -26px;
}
p.chile {
background-position: 0px -52px;
}
p.uruguay {
background-position: 0px -78px;
}
*/
/*btn send*/

.btn-primary {
	margin-left: 3.5em;
	margin-top: 0.5em;
  background-color: #60af00;
  border-color: #60af00;
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #fff;
  background-color: #60af00; 
  border-color: #DADADA; 
} 

/*slider*/

/*.slider-bar{
        display:block; 
        width:80px; 
        background-color:darkred; 
        position:relative;
}
.slider, .slider-bar{
    height:30px;
}*/

/*media queries*/

@media all and (max-width: 600px) {
    body {
      background-color: #FFFFFF;
    }
    form,
    .form-horizontal {
    margin-top: 0;
    margin-left: 1em;
	}
}