/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/*layout*/

header,
.sign-up,
.form,
footer {
	padding: 10px 15%;
} 

/*body*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	 background: url("../images/background2.jpg");
  	 background-size: cover;
  	 background-position: center center;
}
a {
	text-decoration: none;
}
h2,
p,
h3 {
	text-align: center;
}
div {
	background-color: #FFFFFF;
	display: block;
	/*margin: 8em 0 0 2em;*/
	float: none;
	margin: 0 auto 2em;
}

/*header*/

header img {
	float: none;
	display: block;
	margin: 0 auto 2em;
}
header h2 {
	font-weight: 600;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}
header p {
	font-size: 1.2em;
	font-weight: 400;
}

/*sign-up*/

span {
	display: none;
}
.sign-up p {
	border: solid 2px;
	padding: 0.8em 3%;
	border-radius: 0.3em;
	color: #F8F8F8;
	margin-bottom: 0.5em;
}
.facebook p {
	background-color: #456199;
	border-color: #456199;
}
.gmail p {
	background-color: #E14E41;
	border-color: #E14E41;
}
.form {
	background-color: #86A63D;
	border-color: #86A63D;
}
h3 {
	font-size: 1.2em;
	margin: 1.5em 0 0.5em 0;
}

/*Media Queries*/
@media all and (min-width: 601px) {
    body {
    background-image:url("../images/pattern.png");
    }
}
@media all and (max-width: 600px) {
    body {
    background-image:url("../images/backgroundwhite.png");
    background-size: repeat;
	}
}
/*@media (max-width: 640px){
	div  {
		margin: 0 0;
	}
}
@media (max-width: 568px){
	div  {
		margin: 0.5em 0;
	}
}
@media (max-width: 480px){
	div {
		margin: 0 0;
}
@media (max-width: 360px){
	div {
		margin: 1em 0;
}
	