/*layout*/

.sign-up, .form, footer {
	padding: 10px 5%;
} 

/*body*/
body {
	font-family: 'Source Sans Pro', sans-serif;
}
a {
	text-decoration: none;
}

h2, p, h3 {
	text-align: center;
}
div {
	background-color: #FFFFFF;
	display: block;
	margin: 8em 0 0 2em;
	/*box-shadow: #ffffff 0 0 0 8px, #bbbbbb 0 0 0 11px;*/
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	margin-bottom: 10px;
}

/*header*/
header img {
	float: none;
	display: block;
	margin: 1em auto 1em;
	max-height: 70px;
}
header h2 {
	font-weight: 600;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}
header p {
	font-size: 1.2em;
	font-weight: 400;
}

/*sign-up*/

span {
	display: none;
}
.sign-up p {
	border: solid 2px;
	padding: 0.8em 3%;
	border-radius: 0.3em;
	color: #F8F8F8;
	margin-bottom: 0.5em;
}
h3 {
	font-size: 1.2em;
	margin: 1.5em 0 0.5em 0;
}

.unowifi_logo_footer {
	width: 28px;
	vertical-align: middle;
}

/* Personalizo botones */
.btn-lg {
	border-radius: 0.1em;
}

/* Personalizo margenes y visibilidad por el tamaño de la pantalla */
@media all and (min-width: 350px) {
    body {
		background: url("../images/background2.jpg");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
    }
}
@media all and (max-width: 349px) {
    body {
	    background-image:url("../images/background_white.jpg");
	    background-size: repeat;
	}
}

@media (max-width: 768px), (max-height: 560px) {
	.container {margin-top: 3px;}
}

@media (max-height: 400px) {
	/* Para pequeñas pantallas oculto algunas cosas */
	.container {margin-top: 0px;}
	.sign-up, .form, footer {
		padding: 10px 0px;
	} 
	.hide_on_small_screens { display: none;}
}

@media (max-height: 320px) {
	/* Para MUY pequeñas pantallas oculto los textos del header */
	.container {margin-top: 0px;}
	.sign-up, .form, footer {
		padding: 10px 0px;
	}
	.hide_on_small_screens { display: none;}
	.hide_on_very_small_screens { display: none;}
}
