/*body*/

body {
	background-color: #e5e5e5;
}
/*header*/

img {
	width: 458px;
	height: 200px; 
	margin-left: 1em;
	margin-bottom: 2em;
}

/*layout*/

fieldset {
	background-color: #21A1B7; 
}
legend {
	text-align: center;
	color: #ebebeb;
	border-bottom: none;
}
select {
	border-radius: 0.11em;
}

/*labels*/
label {
	display: none;
}

/*input*/
.form-control, input {
	margin-left: 4.7em;
	width: 70%;
}

/*btn submit*/
.btn-primary {
	color: #ffffff;
	background-color: #FF9900;
	border-color: #FF9900;
	margin-left: 1em;
	width: 40%;
	font-size: 17px;
}
.btn-primary:hover {
	background-color: #FF6600;
	border-color: #FF6600;
}

/*footer card*/

.card-actions {
min-height: 30px;
padding: 0 20px 20px;
margin: 20px 0 0;
background-color: #FFFFFF;
}
/*btn share*/
span {
	display: none;
}
a.btn-lg {
padding: 0 25px;
height: 30px;
min-height: 30px;
line-height: 30px;
margin: 1em 0 0 2em;
}
.card-actions a {
background: url("../images/btn-share.png");
width: 33%;
border-color: #133783;
}
.btn-lg:hover {
	background-color: #133783;
	border-color: #FFFFFF;
}
