body {
	background-color: #ECF0F1;
}
.row {
	margin: 0;
	background-color: #FFFFFF;
}
.card-left {
margin: 10px 10px 20px;
padding-top: 20px;
background-color: #fff;
border: 1px solid #d8d8d8;
border-top-width: 0;
border-bottom-width: 2px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
/*.card-left {
	width: 100%;
	max-width: 825px;
	margin: auto;
}*/
p {
	margin-left: 4em;
	margin-top: 2em;
	text-align: justify;
	padding-left: 5em;
}
img {
	max-width: 250px;
	margin-top: 2em;
}
.button {
	float: right;
}
.btn-share,
.btn-access {
	border-radius: 0.2em;
}
.btn-share {
	background-color: #46629E;
	border-color: #46629E;
}
.btn-share:hover {
	background-color: #4469AA;
	border-color: #FFFFFF;
}
.btn-access {
	background-color: #5aac41;
	border-color: #5aac41;
}
.btn-access:hover {
	background-color: #60af00;
	border-color: #FFFFFF; 
}

/*media queries*/

@media (max-width: 640px){
	p  {
		margin-left: 0;
		padding: 0;
		margin-top: 1em;
		width: 100%;
		margin-right: 1em;
	}
	.button {
		float: left;
	}
}
/*@media (max-width: 568px){
	div  {
		margin: 0.5em 0;
	}
}
@media (max-width: 480px){
	div {
		margin: 0 0;
}
@media (max-width: 360px){
	div {
		margin: 1em 0;
}*/



